

#one{
    background-color: red;
}

.generic{
    background-color: yellow;
}

p{
    background-color:blue;
}

ul li{
    background-color: aqua;
}

ol>li{
    background-color:pink;
}

li.generic{
    background-color:beige;
}

li.generic + li{
    background-color:brown;
}

li.generic ~ li {
    background-color: cornflowerblue;
}